{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dashboard</title>
    <style>
        body {
            background-color: #fff4c8; /* You can replace this with any color code you prefer */
        }
        .sidebar li .submenu{ 
            list-style: none; 
            margin: 0; 
            padding: 0; 
            padding-left: 1rem; 
            padding-right: 1rem;
            background-color: #252525;
            color: #ffffff;
            padding: 15px;
            border-right: 1px solid #333;
        }
        .nav-item {
            margin-bottom: 10px;
        }

        .nav-link {
            color: #ffffff;
            transition: all 0.3s ease;
        }

        .nav-link:hover {
            color: #f39c12;
        }
        .has-submenu .nav-link::after {
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            float: right;
            position: absolute; /* Add this line */
            top: 50%; /* Add this line */
            transform: translateY(-50%); /* Add this line */
        }
        .has-submenu.open .nav-link::after {
            content: '\f077';
        }
    </style>
    
  </head>
  <body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
                </a>
                <ul class="sidebar py-2 mb-4 nav flex-column" id="nav_accordion">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/adminsite/"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/addemp/"> Add Employee </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/adminleave/"> Leave  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/workallocation/"> Work Allocation </a>
                    </li>
                    <li class="nav-item has-submenu">
                        <a class="nav-link" href="#"> Submenu links  </a>
                        <ul class="submenu collapse">
                            <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                            <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                            <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
                        </ul>
                    </li>
                </ul>
                <form id="logout-btn">
                    <button type="submit" class="btn btn-danger">Logout</button>
                  </form>

                <hr>
            </div>
        </div>
        <div class="col py-2">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Employee Leave Panel</a>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-md-auto gap-2">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/usericon.png' %}" height="50" width="50" class="d-inline-block align-top">
                            <span class="d-none d-sm-inline mx-1" id="username-display"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile Settings</a></li>
                            <li><a class="dropdown-item" href="#">Notification</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        </ul>
                    </ul>
                  </div>
                </div>
              </nav>
                        <div class="container py-2">
                            <div class="row g-3">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Total Employee: </h5>
                                            <p class="card-text"> <span id="totalEmployees" style="font-size: 18px; font-weight: bold;">Loading...</span></p>
                                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Total Leave Employee: </h5>
                                            <p class="card-text"> <span id="totalLeave" style="font-size: 18px; font-weight: bold;">Loading...</span></p>
                                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Total Accepted Leave: </h5>
                                            <p class="card-text"> <span id="totalacceptLeave" style="font-size: 18px; font-weight: bold;">Loading...</span></p>
                                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                        </div>
                                    </div>
                                </div> </div>
                            <div class="row py-3">
                            <!-- <div class="col-lg-10 mx-auto">
                                <div class="card rounded shadow border-0">
                                <div class="card-body p-5 bg-white rounded">
                                    <div class="table-responsive">
                                    <table id="example" style="width:100%" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Phone number</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                </div>
                            </div> -->
                                    <div class="col-lg-10 mx-auto">
                                        {% if access_token %}
                                        <p id="access-token" style="display: none;">{% if access_token %}{{ access_token }}{% endif %}</p>
                                        {% else %}
                                        {% endif %}
                                        <div class="card rounded shadow border-0">
                                            <div class="card-body p-5 bg-white rounded">
                                                <div class="table-responsive">
                                                    <table id="leave-table" style="width:100%" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Username</th>
                                                                <th>From-Date</th>
                                                                <th>To-Date</th>
                                                                <th>Reason</th>
                                                                <th>status</th>
                                                                <th>Actions</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="leave-table-body">
                                                            <!-- Table rows will be dynamically added here -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div> 
                    </div> 
                    </div>
                </div>
            </div>
 
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>  -->
    <!-- <script>
      $(document).ready(function() {
          $('#user-table').DataTable();
      });
    </script> -->
    <script>
        $(document).ready(function() {
            $("#logout-btn").click(function() {
                // Make a POST request to the logout API
        console.log('entering in logout f')
                $.ajax({
                    url: "/account/signout/", // Replace with the actual URL of your logout API endpoint
                    type: "POST",
                    success: function(response) {
                        // Handle successful logout
                        console.log("Logout successful!");
                        console.log(response);

                        // Redirect to the register page after successful logout
                        window.location.href = "/account/"; // Replace with the URL of your register page function
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.log("Logout failed!");
                        console.log(xhr.responseJSON);
                    }
                });
            });
        });
    </script>
    <script>
        // Function to get query parameters from the URL
        function getQueryParam(key) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(key);
        }
        var username = getQueryParam('username');
        if (username) {
            document.getElementById('username-display').textContent = 'Welcome, ' + username;
        }
    </script>
    <!-- <script>
    $(document).ready(function () {
        var accessTokenElement = $('#access-token');  
        var accessToken = accessTokenElement.text().trim(); 

        if (accessToken) {
            $.ajax({
                url: '/emp/leave-create/',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                },
                success: function (data) {
                    var leaveTableBody = $('#leave-table-body');
                    $.each(data, function (index, leave) {
                        var row = $('<tr>');
                        row.append($('<td>').text(leave.user));
                        row.append($('<td>').text(leave.from_date));
                        row.append($('<td>').text(leave.to_date));
                        row.append($('<td>').text(leave.reason));
                        row.append($('<td>').text(leave.status));
                        leaveTableBody.append(row);
                    });

                    // Initialize DataTables on the table
                    $('#leave-table').DataTable();
                },
                error: function (error) {
                    console.log('Error fetching leave requests:', error);
                }
            });
        } else {
            console.log('No access token available.');
        }
    });
    </script> -->
    <script>
        $(document).ready(function () {
            var accessTokenElement = $('#access-token');  
            var accessToken = accessTokenElement.text().trim(); 
            if (accessToken) {
                $.ajax({
                    url: '/emp/user-leave-info/',
                    type: 'GET',
                    dataType: 'json',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    },
                    success: function (data) {
                        var leaveTableBody = $('#leave-table-body');
                        $.each(data, function (index, leave) {
                            var row = $('<tr>');
                            row.append($('<td>').text(leave.user));
                            row.append($('<td>').text(leave.from_date));
                            row.append($('<td>').text(leave.to_date));
                            row.append($('<td>').text(leave.status));
                            row.append($('<td>').text(leave.reason));
                            row.append($('<td>').html(`
                               
                                <button class="btn btn-danger" onclick="deleteLeave(${leave.id})"><i class="fas fa-trash"></i> Delete</button>
                            `));
                            leaveTableBody.append(row);
                        });
                        $('#leave-table').DataTable();
                    },
                    error: function (error) {
                        console.log('Error fetching leave requests:', error);
                    }
                });
            } else {
                console.log('No access token available.');
            }
        });
       


        function deleteLeave(leaveId) {
            var accessToken = $('#access-token').text().trim();
            $.ajax({
                url: `/emp/leave-delete/${leaveId}/`,
                type: 'DELETE',
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                },
                success: function(response) {
                    $(`#leave-row-${leaveId}`).remove();
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log('Error deleting leave:', xhr.responseText);
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            // AJAX call to fetch the total employee count
            $.ajax({
                url: '/account/total-users/', // Your API endpoint URL
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Update the total employee count on the page
                    $('#totalEmployees').text(data.total_users);
                },
                error: function (error) {
                    console.log('Error fetching total employee count:', error);
                }
            });
        });
    </script>
     <script>
        $(document).ready(function () {
            // AJAX call to fetch the total employee count
            $.ajax({
                url: '/emp/Total-leave-count/', // Your API endpoint URL
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Update the total employee count on the page
                    $('#totalLeave').text(data.total_leave);
                },
                error: function (error) {
                    console.log('Error fetching total employee count:', error);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // AJAX call to fetch the total employee count
            $.ajax({
                url: '/emp/accept-leave-count/', // Your API endpoint URL
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Update the total employee count on the page
                    $('#totalacceptLeave').text(data.accepted_leave_count);
                },
                error: function (error) {
                    console.log('Error fetching total employee count:', error);
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
        document.querySelectorAll('.sidebar .nav-link').forEach(function(element){
            element.addEventListener('click', function (e) {
            let nextEl = element.nextElementSibling;
            let parentEl  = element.parentElement;	
                if(nextEl) {
                    e.preventDefault();	
                    let mycollapse = new bootstrap.Collapse(nextEl);
                    if(nextEl.classList.contains('show')){
                    mycollapse.hide();
                    } else {
                        mycollapse.show();
                        var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                        if(opened_submenu){
                        new bootstrap.Collapse(opened_submenu);
                        }
                    }
                }
            }); // addEventListener
        }) // forEach
        }); 
    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>