{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Add Employee</title>
	<style>
        body {
            background-color: #fff4c8; /* You can replace this with any color code you prefer */
        }
		.card {
            border: 2px solid #000000; /* You can adjust the border width and color as needed */
            padding: 20px; /* Optional: Add some padding for spacing */
        }
        .sidebar li .submenu{ 
            list-style: none; 
            margin: 0; 
            padding: 0; 
            padding-left: 1rem; 
            padding-right: 1rem;
            background-color: #252525;
            color: #ffffff;
            padding: 15px;
            border-right: 1px solid #333;
        }
        .nav-item {
            margin-bottom: 10px;
        }

        .nav-link {
            color: #ffffff;
            transition: all 0.3s ease;
        }

        .nav-link:hover {
            color: #f39c12;
        }
        .has-submenu .nav-link::after {
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            float: right;
            position: absolute; /* Add this line */
            top: 50%; /* Add this line */
            transform: translateY(-50%); /* Add this line */
        }
        .has-submenu.open .nav-link::after {
            content: '\f077';
        }
    </style>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
                </a>
                <ul class="sidebar py-2 mb-4 nav flex-column" id="nav_accordion">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/adminsite/"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/addemp/"> Add Employee </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/adminleave/"> Leave  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Work Allocation </a>
                    </li>
                    <li class="nav-item has-submenu">
                        <a class="nav-link" href="#"> Submenu links  </a>
                        <ul class="submenu collapse">
                            <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                            <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                            <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
                        </ul>
                    </li>
                </ul>
                <form id="logout-btn">
                    <button type="submit" class="btn btn-danger">Logout</button>
                  </form>

                <hr>
            </div>
        </div>
        <div class="col py-3">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Work Allocation Panel</a>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-md-auto gap-2">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/usericon.png' %}" height="50" width="50" class="d-inline-block align-top">
                            <span class="d-none d-sm-inline mx-1" id="username-display"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile Settings</a></li>
                            <li><a class="dropdown-item" href="#">Notification</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        </ul>
                    </ul>
                  </div>
                </div>
              </nav>
          <div class="container">
			<div class="text-center my-3">
				<img src="{% static 'img/icons8-register.gif' %}" width="50" alt="My image">
			</div>
		<div class="container mt-3">
			<div class="row justify-content-center">
				<div class="col-lg-12">
						<div class="card">
							<div style="font-size: 22px; font-weight: bold;  border: 2px solid #000000;" class="card-header">
							Add Employee Details
							</div>
							<div class="card-body">
								<form style="font-weight: bold;" class="row g-3" id="signup-form">
								<!-- <form class="row g-3"> -->
									<div class="row g-6">
										<div class="col">
											<label for="projectname" class="form-label">Project Name</label>
										<input type="text" class="form-control" id="projectname" name="projectname" placeholder="Project name" aria-label="Project name">
										</div>
										
									</div>
									<div class="col-md-6">
										<label for="startdate" class="form-label">Project Startdate</label>
										<input type="date" class="form-control" id="startdate" name="startdate" placeholder="Project start-date" value="" required autofocus>
									</div>
                                    <div class="col-md-6">
										<label for="enddate" class="form-label">Project Enddate</label>
										<input type="date" class="form-control" id="enddate" name="enddate" placeholder="Project end-date" value="" required autofocus>
									</div>
									<!-- <div class="col-md-6">
										<label for="department" class="form-label">Employ</label>
										<select class="form-select" id="department" name="department">
											<option selected>Choose...</option>
											{% for value, label in options %}
												<option value="{{ value }}">{{ label }}</option>
											{% endfor %}
										</select>
									</div> -->
									<div class="col-md-6">
										<label for="leadername" class="form-label">Leader name</label>
										<input type="text" class="form-control" id="leadername" name="leadername" placeholder="leadername number">
									</div>
                                    <div class="col-md-6">
										<label for="clientname" class="form-label">Client name</label>
										<input type="text" class="form-control" id="clientname" name="clientname" placeholder="clientname number">
									</div>
								
									<div class="col-12">
									<label for="description" class="form-label">Description</label>
									<input type="text" class="form-control" name="description" id="description" placeholder="1234 Main St">
									</div>
									<!-- <div class="col-md-4">
									<label for="inputState" class="form-label">State</label>
									<select id="inputState" class="form-select">
										<option selected>Choose...</option>
										<option>...</option>
									</select>
									</div> -->
									<div class="row g-3">
										<div class="col">
											<label for="username" class="form-label">Username</label>
										<input type="text" class="form-control" id="username" name="username" placeholder="username" aria-label="username">
										</div>
										<div class="col">
											<label for="technology" class="form-label">Technology</label>
										<input type="text" class="form-control" id="technology" name="technology" placeholder="technology" aria-label="technology">
										</div>
									</div>
									<!-- <div class="col-12">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="gridCheck">
										<label class="form-check-label" for="gridCheck">
										Check me out
										</label>
									</div>
									</div> -->
									<div class="col-12">
									<button type="submit" class="btn btn-primary">Add Employee</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>
          </div> 
          </div> 
        </div>
    </div>
</div>
 
    <script>
        $(document).ready(function() {
        $("#signup-form").submit(function(event) {
            event.preventDefault();

            var formData = {
                "username": $("#username").val(),
                "email": $("#email").val(),
                "first_name": $("#fname").val(),
                "last_name": $("#lname").val(),
                "phone_number": $("#phone").val(),
                "gender": $("#gender").val(),
                "date_of_birth": $("#dob").val(),
                "department": $("#department").val(),
                "address": $("#address").val(),
                "city": $("#city").val(),
                "state": $("#state").val(),
                "zipcode": $("#zip").val(),
                "password": $("#password1").val(),
                "confirm_password": $("#password2").val()
            };
            $.ajax({
                url: "/account/register/",
                type: "POST",
                data: formData,
                success: function(response) {
                            // Handle successful logout
                            console.log("Logout successful!");
                            console.log(response);

                            // Redirect to the register page after successful logout
                            window.location.href = "/account/adminsite/"; // Replace with the URL of your register page function
                },
                error: function(xhr, status, error) {
                    // Handle error
                    console.log("Registration failed!");
                    console.log(xhr.responseJSON);
                    var errors = xhr.responseJSON;
                    displayErrors(errors);
                }
            });
        });

        function displayErrors(errors) {
            var errorList = "";
            for (var field in errors) {
                if (errors.hasOwnProperty(field)) {
                    errorList += "<strong>" + field + ":</strong> " + errors[field].join(", ") + "<br>";
                }
            }

            Swal.fire({
                icon: 'error',
                title: 'Registration Failed',
                html: errorList,
                confirmButtonText: 'OK'
            });
        }
    });
    </script>
    <script>
        $(document).ready(function() {
            $("#logout-btn").click(function() {
                // Make a POST request to the logout API
        console.log('entering in logout f')
                $.ajax({
                    url: "/account/signout/", // Replace with the actual URL of your logout API endpoint
                    type: "POST",
                    success: function(response) {
                        // Handle successful logout
                        console.log("Logout successful!");
                        console.log(response);

                        // Redirect to the register page after successful logout
                        window.location.href = "/account/"; // Replace with the URL of your register page function
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.log("Logout failed!");
                        console.log(xhr.responseJSON);
                    }
                });
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
        document.querySelectorAll('.sidebar .nav-link').forEach(function(element){
            element.addEventListener('click', function (e) {
            let nextEl = element.nextElementSibling;
            let parentEl  = element.parentElement;	
                if(nextEl) {
                    e.preventDefault();	
                    let mycollapse = new bootstrap.Collapse(nextEl);
                    if(nextEl.classList.contains('show')){
                    mycollapse.hide();
                    } else {
                        mycollapse.show();
                        var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                        if(opened_submenu){
                        new bootstrap.Collapse(opened_submenu);
                        }
                    }
                }
            }); // addEventListener
        }) // forEach
        }); 
    </script>
   
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>