{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Include FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">
    <title>Dashboard</title>
    <style>
        body {
           background-color: #fff4c8; /* You can replace this with any color code you prefer */
       }
       .inf-content{
           border:2px solid #DDDDDD;
           -webkit-border-radius:10px;
           -moz-border-radius:10px;
           border-radius:10px;
           box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
       }	
       #calendar {
           max-width: 800px; /* Adjust the size as needed */
           margin: 0 auto;
           background-color: #f5f5f5;
           border-radius: 8px;
           padding: 20px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       }
       .event-date {
           background-color: #4CAF50;
           color: white;
       }
       .booked-date {
           background-color: #FFC107;
           color: white;
       }
       .event, .booking {
           margin-bottom: 5px;
       }
       .sidebar li .submenu{ 
            list-style: none; 
            margin: 0; 
            padding: 0; 
            padding-left: 1rem; 
            padding-right: 1rem;
            background-color: #252525;
            color: #ffffff;
            padding: 15px;
            border-right: 1px solid #333;
        }
        .nav-item {
            margin-bottom: 10px;
        }

        .nav-link {
            color: #ffffff;
            transition: all 0.3s ease;
        }

        .nav-link:hover {
            color: #f39c12;
        }
        .has-submenu .nav-link::after {
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            float: right;
            position: absolute; /* Add this line */
            top: 50%; /* Add this line */
            transform: translateY(-50%); /* Add this line */
        }
        .has-submenu.open .nav-link::after {
            content: '\f077';
        }
   </style>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
                </a>
                <!-- <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/account/home/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Leave Form</span> </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Profile Settings</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Work</span></a>
                    </li>
                    <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle"
                         id="dashboardLink">
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                      </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu1">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                          </li>
                      </ul>
                  </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul> -->
                <ul class="sidebar py-2 mb-4 nav flex-column" id="nav_accordion">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/home/"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Leave Form </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Profile Settings </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Work </a>
                    </li>
                    <li class="nav-item has-submenu">
                        <a class="nav-link" href="#"> Submenu links  </a>
                        <ul class="submenu collapse">
                            <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                            <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                            <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
                        </ul>
                    </li>
                </ul>
                <form id="logout-btn">
                    <button type="submit" class="btn btn-danger">Logout</button>
                  </form>

                <hr>
            </div>
        </div>
        <div class="col py-2">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Employee Leave Panel</a>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-md-auto gap-2">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/usericon.png' %}" height="50" width="50" class="d-inline-block align-top">
                            <span class="d-none d-sm-inline mx-1" id="username-display"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile Settings</a></li>
                            <li><a class="dropdown-item" href="#">Notification</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        </ul>
                    </ul>
                  </div>
                </div>
              </nav>
                <div class="container py-2">
                            
                    <div class="container">
                        <div class="text-center my-3">
                            <img src="{% static 'img/icons8-register.gif' %}" width="50" alt="My image">
                        </div>
                    <div class="container mt-3">
                        {% if access_token %}
                        <p id="access-token" style="display: none;" >{% if access_token %}{{ access_token }}{% endif %}</p>
                        {% else %}
                        {% endif %}
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    <div class="card">
                                        <div style="font-size: 22px; font-weight: bold;  border: 2px solid #000000;" class="card-header">
                                        Leave Application
                                        </div>
                                        <div class="card-body">
                                            <form style="font-weight: bold;" class="row g-3" id="leave-form">
                                                <!-- <form class="row g-3"> -->
                                                    <div class="col-md-6">
                                                        <label for="startdate" class="form-label">From Date</label>
                                                        <input type="date" class="form-control" id="startdate" name="startdate" placeholder="Enter the DOB" value="" >
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="enddate" class="form-label">To Date</label>
                                                        <input type="date" class="form-control" id="enddate" name="enddate" placeholder="Enter the DOB" value="" >
                                                    </div>
                                                    <div class="col-12">
                                                    <label for="reason" class="form-label">Leave Reason</label>
                                                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Reason for leave">
                                                    </div>
                                                    <div class="col-12">
                                                    <button type="submit" class="btn btn-primary">Apply Leave</button>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                </div>
                            </div>
                                <div class="container mt-3">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <!-- Calendar Container -->
                                                    <div id="calendar"></div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </div> 
                    </div> 
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
            <!-- Include FullCalendar JS -->
            <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>  -->
    <!-- <script>
      $(document).ready(function() {
          $('#user-table').DataTable();
      });
    </script> -->
    <script>
        $(document).ready(function() {
            $("#logout-btn").click(function() {
        console.log('entering in logout f')
                $.ajax({
                    url: "/account/signout/", // Replace with the actual URL of your logout API endpoint
                    type: "POST",
                    success: function(response) {
                        // Handle successful logout
                        console.log("Logout successful!");
                        console.log(response);
                        window.location.href = "/account/"; // Replace with the URL of your register page function
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.log("Logout failed!");
                        console.log(xhr.responseJSON);
                    }
                });
            });
        
        });
    </script>
    <script>
        function getQueryParam(key) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(key);
        }
        var username = getQueryParam('username');
        if (username) {
            document.getElementById('username-display').textContent = 'Welcome, ' + username;
        }
    </script>
   
   <script>
        $(document).ready(function() {
            $('#leave-form').submit(function(event) {
                event.preventDefault();
                var startdate = $('#startdate').val();
                var enddate = $('#enddate').val();
                var reason = $('#reason').val();
                var accessToken = $('#access-token').text().trim(); // Get the access token
                var data = {
                    from_date: startdate,
                    to_date: enddate,
                    reason: reason
                };
                $.ajax({
                    type: 'POST',
                    url: '/emp/leave-create/', // Replace with your actual API URL
                    data: JSON.stringify(data),
                    headers: {
                        'Authorization': 'Bearer ' + accessToken,
                        'Content-Type': 'application/json'
                    },
                    success: function(response) {
                        swal.fire({
                            icon: 'success',
                            title: 'Leave created successfully.',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function() {
                            window.location.href = "/account/home/"; // Redirect to the desired URL
                        });
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        var errors = JSON.parse(xhr.responseText);
                         displayErrors(errors);
                    }
                });
            });
            function displayErrors(errors) {
                var errorList = "";
                for (var field in errors) {
                    if (errors.hasOwnProperty(field)) {
                        errorList += "<strong>" + field + ":</strong> " + errors[field].join(", ") + "<br>";
                    }
                }
                Swal.fire({
                    icon: 'error',
                    title: 'Registration Failed',
                    html: errorList,
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/account/total-users/', // Your API endpoint URL
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#totalEmployees').text(data.total_users);
                },
                error: function (error) {
                    console.log('Error fetching total employee count:', error);
                }
            });
        });
    </script>
    <!-- <script>
            $(document).ready(function () {
            var accessTokenElement = $('#access-token');
            var accessToken = accessTokenElement.text().trim();

            if (accessToken) {
                $.ajax({
                    url: '/emp/user-leave-info/',
                    type: 'GET',
                    dataType: 'json',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    },
                    success: function (data) {
                        var events = [];

                        $.each(data, function (index, leave) {
                            events.push({
                                title: leave.reason,
                                start: leave.from_date,
                                end: leave.to_date
                            });
                        });

                        // Initialize FullCalendar
                        $('#calendar').fullCalendar({
                            events: events,
                            // You can customize other FullCalendar options here
                        });
                    },
                    error: function (error) {
                        console.log('Error fetching leave requests:', error);
                    }
                });
            } else {
                console.log('No access token available.');
            }
        });
    </script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                selectable: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                // select: function(info) {
                //     var selectedStartDate = moment(info.start).format('YYYY-MM-DD');
                //     var selectedEndDate = moment(info.end).format('YYYY-MM-DD'); // Include the last day
                //     // Clear existing events
                //     calendar.removeAllEvents();
                //     // Add events to highlight the selected range
                //     // var eventArray = [];
                //     // var currentDate = moment(selectedStartDate);
                //     // var endDate = moment(selectedEndDate);
                //     // while (currentDate.isSameOrBefore(endDate)) {
                //     //     eventArray.push({
                //     //         title: 'Selected Range',
                //     //         start: currentDate.format('YYYY-MM-DD'),
                //     //         display: 'background',
                //     //         backgroundColor: 'blue'
                //     //     });
                //     //     currentDate.add(1, 'day');
                //     // }
                //     calendar.addEventSource(eventArray);
                //     // Clear the current selection
                //     calendar.unselect();
                // }
            });
            var accessTokenElement = $('#access-token');
            var accessToken = accessTokenElement.text().trim();
            $.ajax({
                url: '/emp/user-leave-info/',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                },
                success: function(data) {
                    var events = [];
                    $.each(data, function(index, leave) {
                        events.push({
                            title: leave.reason,
                            start: leave.from_date,
                            end: moment(leave.to_date).add(1, 'days').format('YYYY-MM-DD'),
                            backgroundColor: 'blue',
                            borderColor: 'blue'
                        });
                    });
                    calendar.addEventSource(events);
                    calendar.render();
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error fetching events:', errorThrown);
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
        document.querySelectorAll('.sidebar .nav-link').forEach(function(element){
            element.addEventListener('click', function (e) {
            let nextEl = element.nextElementSibling;
            let parentEl  = element.parentElement;	
                if(nextEl) {
                    e.preventDefault();	
                    let mycollapse = new bootstrap.Collapse(nextEl);
                    if(nextEl.classList.contains('show')){
                    mycollapse.hide();
                    } else {
                        mycollapse.show();
                        var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                        if(opened_submenu){
                        new bootstrap.Collapse(opened_submenu);
                        }
                    }
                }
            }); // addEventListener
        }) // forEach
        }); 
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>